h1{
    background-color: darkgray;
}
main{
    text-align: center;
}
img{
    border: 10px solid darkgray ;
}
body h2{
    background-color: rgb(195, 222, 247);
    color: blue;
    text-align: center;
}
footer{
    text-align: center;
}